body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New',
    monospace;
}

@media only screen and (min-width: 500px) {
  .checkout {
   
 
    align-self: flex-center;
  }
}

@media only screen and (max-width: 766px) {
  .cartitems {
   
 
    width: 100%;
  }
}

@media only screen and (min-width: 766px) {
  .checkout {
    margin-right: 20px;
    max-height: 100vh;
   
  }
}
@media only screen and (min-width: 766px) {
 .cartmain{
  align-items: start;
 }
}